* {
    font-family: Roboto;
}

body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    background: #1F2937;
    gap: 60px;
}

.header,
.subheader {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 0px 400px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.large-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.small-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 450px;
    height: auto;
}

.subheader-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 50px;
}

button {
    width: 100px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
}

.information {
    margin: 40px 0px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
}

.info-cards {
    display: flex;
    gap: 50px;
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    height: 150px;
    width: 150px;
    border-width: 4px;
    border-radius: 20px;
    border-color:#3882F6;
    border-style: solid;
}


.card-text {
    text-align: center;
    max-width: 150px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 550px;
    gap: 20px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 22px;
}

.sign-up-container {
    padding: 100px 400px;
}

.sign-up-card {
    background-color: #3882F6;
    color: white;
    padding: 50px 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.sign-up-button {
    border-style: solid;
    width: 150px;
}

.call-to-action-1 {
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 5px;
}

.call-to-action-2 {
    font-size: 18px;
}
